{% extends "layout.html" %}

{% block title %}Filmfan - Register{% endblock %}
{% block header %}Register{% endblock %}

{% block body %}
<div class="container mt-5">
    <form action="{{ url_for('home.register') }}" method="post">
        <div class="mb-3 row">
            <label for="form_email" class="col-sm-4 col-form-label">Email</label>
            <div class="col-sm-8">
                <input type="email" class="form-control" id="form_email" name="form_email" placeholder="Enter your email" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="form_username" class="col-sm-4 col-form-label">Username</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="form_username" name="form_username" placeholder="Choose a username" required>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="form_password" class="col-sm-4 col-form-label">Password</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="form_password" name="form_password" placeholder="Create a password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 offset-sm-4">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
